{{#if err}}
  <h1> {{err}} </h1>
{{else}}
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div id="container">
  <div class="pokemon"><i></i></div>
  <div id="searchbar">
    <form action="/" method="post">
      <br>
        <input required type="text" name="input" placeholder="naam of nummer van pokemon">

        <br>
      </form>
  </div>

  <div id="form">

    <div id="picture">
           <img src= {{ pokemon.img }} />
         </div>
            <p><strong id="name"> Name: {{ pokemon.name }}</strong></p>
            <p><strong id="type">Type: {{ pokemon.type }}</strong></p>
            <p><strong id="height">Height: {{ pokemon.height }}</strong></p>
            <p><strong id="weight">Weight: {{ pokemon.weight }}lbs</strong></p>
            <p><strong id="weakness">Weakness: {{ pokemon.weakness }}</strong></p>


  </div>



</div>

{{/if}}
